.logo-box {
  display: inline-block;
  text-decoration: none;
  font-size: 28px;
  color: #fff;
  font-family: $font-logo;
  transition: all 0.2s;

  &:hover {
    color: $color-secondary;
  }
}

.heading-primary {
  color: #fff;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5rem;

  @include respond(phone) {
    letter-spacing: 1.4rem;
    padding: 0 3rem;
  }

  &__main {
    font-family: $font-en;
    font-size: 8rem;
    animation: moveInLeft 2s;
  }

  &__sub {
    font-size: 2rem;
    font-family: $font-ch;
    font-weight: 300;
    animation: moveInRight 2s;
  }
}

.heading-secondary {
  color: $color-primary;
  padding: 1rem 0 3rem 0;
  font-family: 'Noto Serif TC', serif;
  font-size: 4.5rem;
  font-weight: 800;
  letter-spacing: 5px;
}

.heading-tertiary--grey {
  color: $color-grey-dark-3;
  font-family: $font-ch;
  font-weight: 400;
  letter-spacing: 0.3rem;
  font-size: 20px;
  text-decoration: none;

  @include respond(phone) {
    font-size: 18px;
  }
}

.heading-tertiary--dark {
  color: $color-primary;
  font-family: $font-ch;
  font-weight: 400;
  letter-spacing: 0.3rem;
  font-size: 20px;
  text-decoration: none;

  @include respond(phone) {
    font-size: 20px;
  }
}

.text-highlight {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to bottom,
    $color-secondary-light,
    $color-secondary-dark
  );
}

.text-warning {
  display: block;
  font-size: 13px;
  color: $color-secondary;
}
