.figures {
  background-image: linear-gradient(to right bottom, rgba(#1fb2c5, 0.6), rgba(0, 0, 0, 1)), url(./assets/img/general-bg.jpg);
  background-attachment: fixed;
  @include background-adjust;
}

.figure {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__text {
    padding: 5rem 0;
    font-family: $font-ch;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    color: rgba($color-grey-light-1, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;

    &:hover {
      color: rgba($color-grey-light-1, 1);
      transform: rotate(5deg) scale(1.05);
    }

    @include respond(tab-port) {
      font-size: 1.8rem;
    }

    @include respond(phone) {
      flex: 0 0 50%;
      letter-spacing: 0.2rem;
      padding: 2rem 0;
    }
  }

  &__number {
    font-family: $font-en;
    font-size: 7rem;

    @include respond(tab-port) {
      font-size: 5rem;
    }

    @include respond(phone) {
      font-size: 7rem;
    }
  }
}

.courses {
  padding: 5rem 0;
}

.features {
  display: flex;
  height: 450px;

  @include respond(tab-port) {
    height: 620px;
  }

  @include respond(phone) {
    height: 800px;
    flex-direction: column;
  }

  &__img {
    width: 40%;
    background-image: linear-gradient(to bottom, rgba(#eeb37b, 0.4), rgba(#f5963d, 0.25)), url(./assets/img/features-bg.jpg);
    @include background-adjust;
    transition: all 0.5s;

    &:hover {
      opacity: 0.9;
    }

    @include respond(phone) {
      width: 100%;
      height: 250px;
      background-position: bottom;
    }
  }

  &__content {
    width: 60%;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 2rem 10rem;
    max-width: 95rem;
    flex-wrap: wrap;
    @include respond(tab-land) {
      // align-content: center;
      padding: 2rem 6rem;
    }
    @include respond(tab-port) {
      padding: 5rem 6rem;
    }
    @include respond(phone) {
      width: 100%;
      height: 100%;
      order: -1;
    }
  }
}

.features-card {
  flex: 0 0 50%;
  font-size: 14px;
  color: $color-font-default;
  line-height: 1.8em;
  transition: all 0.5s;

  @include respond(tab-port) {
    flex: 0 0 100%;
  }

  &:hover {
    transform: translateX(0.5rem);
  }

  &:hover i {
    transform: rotate(15deg);
    color: $color-secondary;
  }

  &:not(:last-child) {
    // margin-bottom: 32px;
    @include respond(tab-port) {
      margin-bottom: 46px;
    }
    @include respond(phone) {
      margin-bottom: 40px;
    }
  }

  &:nth-child(odd) {
    padding-right: 3rem;

    @include respond(tab-land) {
      padding-right: 2rem;
    }

    @include respond(phone) {
      padding-right: 0rem;
    }
  }

  &__head {
    @include respond(tab-port) {
      display: flex;
    }
  }

  &__text {
    margin-top: 0.5rem;
  }

  i {
    width: 42px;
    text-align: center;
    display: block;
    font-size: 3rem;
    margin-bottom: 1rem;
    transition: all 0.5s;

    @include respond(tab-port) {
      margin-bottom: 0rem;
    }
  }
}

.coupon {
  display: flex;
  height: 450px;
  color: $color-primary;
  letter-spacing: 0.2rem;
  position: relative;
  background-color: $color-grey-light-3;

  @include respond(phone) {
    height: 600px;
    flex-direction: column;
  }

  &__img {
    width: 40%;
    @include background-adjust;
    background-image: linear-gradient(to bottom, rgba(#eeb37b, 0.15), rgba(#f5963d, 0.15)), url(./assets/img/coupon-bg.jpg);
    transition: all 0.5s;

    &:hover {
      opacity: 0.9;
    }

    @include respond(phone) {
      height: 180px;
      width: 100%;
    }
  }

  &__content {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 0 10rem;
    max-width: 95rem;
    font-size: 1.6rem;
    color: $color-grey-dark-3;
    @include respond(tab-port) {
      padding: 0 5rem;
    }
    @include respond(phone) {
      padding: 0 3rem;
      width: 100%;
      order: -1;
    }
  }

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &__text {
    line-height: 24px;
  }

  &__btn {
    margin: auto;
    margin-top: 4rem;
    font-size: 2rem;
    letter-spacing: 0.8rem;
    border: 1px solid $color-primary;
    border-radius: 5px;
    padding: 0.8rem 3rem;
    @include respond(phone) {
      margin-top: 4rem;
    }

    &:hover {
      border: 1px solid $color-secondary;
    }

    &:hover span {
      color: $color-secondary;
    }

    span {
      color: $color-primary;
      transition: all 0.5s;
    }
  }
}

.userfeedback {
  padding: 5rem 0;
}

.FAQ {
  display: flex;
  height: 550px;
  background-color: $color-grey-light-3;

  @include respond(tab-port) {
    height: 500px;
  }

  @media (max-width: 700px) {
    height: 540px;
  }
  @include respond(phone) {
    height: 450px;
    flex-direction: column;
  }
  @media (max-width: 460px) {
    height: 470px;
  }
  @media (max-width: 400px) {
    height: 500px;
  }
  &__img {
    width: 40%;
    background-image: linear-gradient(to bottom, rgba(#eeb37b, 0.2), rgba(#f5963d, 0.2)), url(./assets/img/FAQ-bg.jpg);
    @include background-adjust;
    transition: all 0.5s;

    &:hover {
      opacity: 0.9;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__content {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: auto;
    padding: 0 10rem;
    max-width: 95rem;

    @include respond(tab-land) {
      margin-top: 5rem;
      padding: 0 6rem;
    }
    @include respond(tab-port) {
      margin-top: 2rem;
      padding: 0 3rem;
    }
    @include respond(phone) {
      margin: 0;
      width: 100%;
      height: 100%;
      padding: 3rem;
      background-image: linear-gradient(to bottom, rgba(#fff2e7, 0.8), rgba(#ffffff, 0.8)), url(./assets/img/FAQ-bg.jpg);
      @include background-adjust;
    }
  }

  &__list {
    list-style: none;
    width: 100%;
  }

  &__item {
    cursor: pointer;
  }

  &__accordian-title {
    box-shadow: 0rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 1rem;
    background-color: rgba($color-grey-light-1, 0.8);
    color: $color-grey-dark-3;
    font-size: 16px;
    letter-spacing: 2px;
    transition: all 0.3s;

    &--rotate {
      transform: rotate(45deg);
    }

    &:hover {
      color: $color-secondary;
    }

    i {
      transition: all 0.3s;
    }

    &:hover i {
      color: $color-secondary;
    }

    @include respond(tab-port) {
      font-size: 15px;
    }

    @include respond(phone) {
      font-size: 14px;
    }
  }

  &__accordian-content {
    background-color: transparent;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: $color-font-default;
    font-size: 14px;
    line-height: 2em;
    padding: 1rem 2rem;
    border-left: 3px solid $color-secondary;
    margin-left: 0.5rem;
  }
}

.gallery {
  &-box {
    display: flex;
    flex-wrap: wrap;
  }
}

.contact {
  display: flex;

  @include respond(phone) {
    display: block;
  }
}
