$color-primary: #16283d;
$color-primary-light: #003365;
$color-primary-light-2: #2e383f;
$color-primary-dark: #0f1d2e;

$color-secondary: #ff5722;
$color-secondary-light: #f7a343;
$color-secondary-dark: #f0163a;

$color-focus: #fff9e1;

$color-grey-light-1: #f5f5f5;
$color-grey-light-2: #c7c6c6;
$color-grey-light-3: #eeebeb;

$color-grey-dark-1: #313131;
$color-grey-dark-2: #414141;
$color-grey-dark-3: #707070;
$color-grey-dark-4: #283035;

$color-font-default: #707070;

$font-logo: 'Orbitron', sans-serif;
$font-ch: 'Noto+Sans+TC', sans-serif;
$font-en: 'Anton', sans-serif;
