.coach-card {
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  margin-right: auto;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.05);

  @include respond(tab-port) {
    padding: 2rem 2rem;
  }

  @include respond(phone) {
    padding: 2rem 1.5rem;
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
      flex-direction: row;
      align-items: center;
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__img-box {
    display: block;
    position: relative;
    z-index: 1;
    margin: 3rem auto;
    height: 100%;
    transition: all 0.3s;

    @include respond(tab-port) {
      margin-right: 2rem;
    }

    @include respond(phone) {
      margin: 2rem auto;
    }

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      margin: auto;
      display: block;
      padding: 4px;
      background-image: linear-gradient(to bottom, #f7a343, #f0163a);
    }
  }

  &__social {
    text-align: center;
    font-size: 24px;

    i {
      color: $color-primary;
      padding: 0 1rem 1rem 1rem;
      transition: all 0.3s;

      &:hover {
        color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, #f7a343, #f0163a);
      }
    }
  }

  &__status {
    color: $color-primary;
    font-size: 14px;
    margin-bottom: 24px;

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      font-family: $font-ch;

      li {
        &:not(:last-child) {
          border-right: 1px solid currentColor;
        }

        span {
          font-size: 24px;
          font-weight: 100;
        }

        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0.2rem 1.4rem;

        @include respond(tab-land) {
          padding: 0.2rem 1rem;
        }

        @include respond(tab-port) {
          padding: 0.2rem 1.4rem;
        }
      }
    }
  }

  &__body {
    font-size: 16px;
    line-height: 2;
    color: $color-grey-dark-3;
  }
}
