form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.focus-light {
  &:focus {
    border: 1px solid $color-secondary !important;
  }
}

.contact {
  &__map {
    width: 40%;
    @include respond(phone) {
      height: 350px;
      width: 100%;
    }
  }

  &-form {
    display: flex;
    align-items: center;
    font-family: $font-ch;
    width: 60%;
    padding: 3rem 5rem;
    color: $color-grey-light-1;
    font-size: 14px;
    @include background-adjust;
    background-image: linear-gradient(to right bottom, rgba(#1fb2c5, 0.6), rgba(0, 0, 0, 1)), url(./assets/img/general-bg.jpg);
    background-attachment: fixed;

    > * {
      width: 100%;
      max-width: 75rem;
      @include respond(phone) {
        margin: auto;
      }
    }

    @include respond(tab-port) {
      padding: 4rem;
    }

    @include respond(phone) {
      width: 100%;
      margin-top: -10px;
    }

    p {
      letter-spacing: 1.5px;
      font-size: 14px;
    }

    .form__group {
      align-items: center;
    }

    textarea {
      resize: none;
      height: 12rem;
      color: $color-grey-light-2;
      &::-webkit-input-placeholder {
        color: rgba($color-grey-light-2,.5)
      }
    }

    label {
      color: rgba(#fff,.8);
      padding: 0 0 6px 0;
    }

    input {
      color: #fff;
      &::-webkit-input-placeholder {
        color: rgba($color-grey-light-2,.5)
      }
    }

    &__title {
      font-size: 28px;
      letter-spacing: 5px;
    }
  }
}
