.course-recommend {
  &__course {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: $color-font-default;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;

    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-light-2;
    }

    @include respond(tab-land) {
      padding: 10px 0px;
    }
  }

  &__header {
    background-image: linear-gradient(to bottom, #f7a343, #f0163a);
    height: 100px;
    width: 200px;
    position: relative;
    overflow: hidden;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 8px;

    @include respond(phone) {
      margin-bottom: 5px;
    }
  }

  &__hot-tag {
    position: absolute;

    padding: 10px;
    left: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 55px 0 0;
    border-color: rgba($color-secondary, 0.8) transparent transparent
      transparent;
    z-index: 2;

    &-text {
      font-family: $font-ch;
      font-size: 12px;
      letter-spacing: 3px;
      width: 200px;
      color: #fff;
      transform: rotate(-46deg);
      position: absolute;
      left: -2px;
      top: -108px;
      z-index: 5;
      text-shadow: 0em 0em 0.2em lighten(yellow, 20%);
    }
  }

  &__course:hover &__img {
    opacity: 0.7;
    transform: scale(1.05);
    overflow: hidden;
    transition: all.5s;
  }

  &__course:hover {
    // box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    background-color: darken($color-grey-light-1, 5%);
  }

  &__img {
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    width: 100%;
    padding: 20px 0px 20px 20px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;

    @include respond(tab-land) {
      padding: 5px 0px 5px 15px;
    }

    @include respond(tab-port) {
      font-size: 12px;
    }

    @include respond(phone) {
      flex-direction: column;
    }

    > * {
      display: flex;
      flex-direction: column;
    }
  }

  &__info {
    max-width: 400px;
    margin-right: 5px;
    font-size: 14px;

    @include respond(phone) {
      margin: 0;
    }
  }

  &__rating {
    display: flex;
    align-items: baseline;

    & > span {
      margin-left: 10px;
    }
  }

  &__price {
    text-align: right;
    display: flex;
    flex-direction: column;

    &:first-child {
      margin-bottom: 5px;
    }

    @include respond(phone) {
      text-align: unset;
      justify-content: space-between;
      flex-direction: row;
    }

    &--discount {
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 8px;

      @include respond(phone) {
        font-size: 20px;
        margin-bottom: 0;
      }
    }

    &--origin {
      text-decoration: line-through;
      font-size: 16px;

      @include respond(phone) {
        font-size: 14px;
      }
    }
  }
}
